

<!-- COMPONENTE MUESTRA CADA CARD DE PRODUCTO -->

<!-- [routerLink]="['/product' : redirecciona a esa ruta -->
<!-- product().id : se envia como parametro el id -->
 <!-- ejemplo : http://localhost:4200/product/1 -->
<a [routerLink]="['/product', product().id]">
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-slate-800 dark:border-gray-700">
    <picture href="#">

      <!-- [src]="product().image" : desenvolsando usando la clase debe ser igual los metodos de clase modelo -->
        <img class="rounded-t-lg h-60 w-full object-contain object-center" [src]="product().image" alt="" />
    </picture>
    <div class="flex justify-end my-4">
      <!-- (click)="add($event)" : metodo agregar carrito en el local storage -->
      <button
      class="inline-flex items-center gap-2 px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-blue-800"
      (click)="add($event)"
    >
    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 2a1 1 0 0 1 .993 .883l.007 .117v1.068l13.071 .935a1 1 0 0 1 .929 1.024l-.01 .114l-1 7a1 1 0 0 1 -.877 .853l-.113 .006h-12v2h10a3 3 0 1 1 -2.995 3.176l-.005 -.176l.005 -.176c.017 -.288 .074 -.564 .166 -.824h-5.342a3 3 0 1 1 -5.824 1.176l-.005 -.176l.005 -.176a3.002 3.002 0 0 1 1.995 -2.654v-12.17h-1a1 1 0 0 1 -.993 -.883l-.007 -.117a1 1 0 0 1 .883 -.993l.117 -.007h2zm0 16a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm11 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" /></svg>

      Agregar al carrito
    </button>
    </div>
  </div>

</a>


<!--
svg : SVG define gráficos basados ​​en vectores en XML, que se puede incrustar directamente en páginas HTML.
Los gráficos SVG son escalables y no pierden calidad si se les amplía o se les cambia el tamaño.: -->
